body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url("/background.png");
  background-color: #0b062b;
  font-family: Arial, sans-serif;
}

.account-card,
.transaction-card,
.wallet-options {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 24px;
  max-width: 400px;
  margin: 16px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background:
      linear-gradient(to right, rgba(174, 242, 255, 0.15), rgba(174, 242, 255, 0.15));
  color: black;
  text-align: center;
}

.account-info p {
  margin: 12px 0;
  font-size: 16px;
  color: white;
}

.disconnect-button,
.send-button,
.wallet-button {
  background: linear-gradient(to right, #32D8F9, #B9F3FF);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.disconnect-button:hover,
.send-button:hover,
.wallet-button:hover {
  background-color: #0056b3;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(50, 216, 249, 0.25);
  border: 1px solid rgba(50, 216, 249, 0.75);
  color: white;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.transaction-hash {
  margin-top: 20px;
  color: #28a745;
  font-size: 16px;
  font-weight: bold;
}

.wallet-options {
  text-align: center;
}

.wallet-options h2,
.transaction-card h2 {
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
}
.stop-button {
  background-color: #dc3545;
}

.stop-button:hover {
  background-color: #c82333;
}

